@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Josefin+Sans:wght@100&family=Nova+Round&display=swap');

$font-1: 'Nova Round', cursive;
$font-2: 'Dosis', sans-serif;
$font-3: 'Josefin Sans', serif;

$color-1: #2A3234;
$color-2: #2A3234;
$color-3: #3D9C44;
$color-4: #C3FFCA;
$color-5: #5ED366;
$white: #DDD;
$black: #333;

$borderRadius: 10px;
$shadow: 0 1px 3px $black;
$minHeight: 95vh;

@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 1rem auto;
    max-width: 1200px;
    font-family: $font-1;
    color: $white;
    background-color: #131617;
}

button {
    cursor: pointer;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $white;
    cursor: pointer;
}
a:visited {
    color: $white;
}

.home, .knowledges, .portfolio, .contact {
    display: flex;

    @media screen and (max-width:850px) {
        display: block !important;
    }
}

.homeContent, .knowledgesContent, .portfolioContent, .contactContent {
    margin-left: .4rem;

    @media screen and (max-width:850px) {
        margin: 0 .5rem !important;
        width: 98% !important
    }
}